/*
 * Globals
 */
@font-face {
  font-family: "OptimusPrinceps";
  src: url("../fonts/OptimusPrinceps.ttf");
}
@font-face {
  font-family: "OptimusPrincepsSemiBold";
  src: url("../fonts/OptimusPrincepsSemiBold.ttf");
}
@font-face {
  font-family: "Benne-Regular";
  src: url("../fonts/Benne-Regular.ttf");
}

/* Links */

html, body {
  background-color: #363636;
  color: #aaa;
  font-family: "OptimusPrinceps", cursive;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}
body{
  box-shadow: none !important;
}
.about{
  margin-top: 100px;
}
.ptextCenter{
  font-family: "Benne-Regular";
  font-size: 1.2em;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
  font-family: "OptimusPrincepsSemiBold", serif;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}
.boton{
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 6px;
  width: 500px;
  height: 100px;
  background-color: #d55;
  font-size: 60%;
  font-family: "OptimusPrinceps", cursive;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  font-family: "OptimusPrincepsSemiBold";
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.new5{
  border-top: 5px dotted white;
}
